{% extends "layout.html" %}

{% block main %}
<h1>New Project</h1>
<div class="container-fluid">
    <form method="post">
        <div class="mb-3">
            <fieldset>
                <legend>Project Information</legend>
                <!-- Project information fields go here -->
                <input autocomplete="off" autofocus name="po_number" placeholder="PO Number" type="text">
                <input autocomplete="off" autofocus name="address" placeholder="Address" type="text">
                <input autocomplete="off" autofocus name="num_chargers" placeholder="Number of Chargers" type="number"
                    min="1">
                <input autocomplete="off" autofocus name="permit_num" placeholder="Permit Number" type="text">
                <input autocomplete="off" autofocus name="start_date" placeholder="Project Start Date" type="date">
                <select name="project_status">
                    <option disabled selected value="">Project Status</option>
                    {% for p in project_status %}
                    <option value="{{ p }}">{{ p }}</option>
                    {% endfor %}
                </select>
            </fieldset>
        </div>
        <div class="mb-3">
            <fieldset>
                <legend>Inspection Details</legend>
                <!-- Inspection details fields go here -->
                <select name="i_type">
                    <option disabled selected value="">Inspection Type</option>
                    {% for inspection in i_type %}
                    <option value="{{ inspection }}">{{ inspection }}</option>
                    {% endfor %}
                </select>
                <select name="inspection_status">
                    <option disabled selected value="">Inspection Status</option>
                    {% for inspect in inspection_status %}
                    <option value="{{ inspect }}">{{ inspect }}</option>
                    {% endfor %}
                </select>
                <input autocomplete="off" autofocus name="inspection_date" placeholder="Inspection Date" type="date">
            </fieldset>
        </div>
        <div class="mb-3">
            <fieldset>
                <legend>Utility Data</legend>
                <!-- Utility data fields go here -->
                <select name="p_type">
                    <option disabled selected value="">Project Type</option>
                    {% for pt in p_type %}
                    <option value="{{ pt }}">{{ pt }}</option>
                    {% endfor %}
                </select>
                <select name="invoice">
                    <option disabled selected value="">Invoice Percentage</option>
                    {% for invo in invoice %}
                    <option value="{{ invo }}">{{ invo }}</option>
                    {% endfor %}
                </select>
                <select name="datto">
                    <option disabled selected value="">Paper Work Uploaded to Datto</option>
                    {% for d in datto %}
                    <option value="{{ d }}">{{ d }}</option>
                    {% endfor %}
                </select>
            </fieldset>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-secondary btn-lg">Save Data</button>
        </div>
    </form>
</div>
{% endblock %}