{% extends "layout.html" %}

{% block main %}

<div class="container-fluid">
    <h1>Projects Summary</h1>
</div>
<div class="container-fluid">
    <div class="mb-3">
        <table class="table tablestriped table-hover">
            <thead>
                <tr>
                    <th class="text-center">Project Type</th>
                    <th class="text-center">Address</th>
                    <th class="text-center"># Chargers</th>
                    <th class="text-center">Permit Number(s)</th>
                    <th class="text-center">Project Status</th>
                    <th class="text-center">Uploaded Datto</th>
                    <th class="text-center">Inspection Type</th>
                    <th class="text-center">Inspection Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects%}
                <tr>
                    <td class="text-center">{{ project.p_type }}</td>
                    <td class="text-start">{{ project.address }}</td>
                    <td class="text-end">{{ project.num_chargers }}</td>
                    <td class="text-start">{{ project.permit_num }}</td>
                    <td class="text-center">{{ project.project_status }}</td>
                    <td class="text-center">{{ project.datto }}</td>
                    <td class="text-center">{{ project.i_type }}</td>
                    <td class="text-center">{{ project.inspection_status }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="9" class="text-center">No data available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}